// Colors

$primary-color: #323246;
$secondary-color: #3a3963;
$light-color: #F5F5F5;
$gray-color: #323246;
$orange-color: #F99417;
$red-color: #c52323;
$green-color: #186F65;
$blue-color: #0a73db;


// Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'popins', sans-serif;