
// Colors

$primary-color: #E4D0D0;
$secondary-color: #D5B4B4;
$light-color: #F5EBEB;
$dark-color: #867070;
$red-color: #aa1d1d;
$orange-color: #F99417;
$green-color: #186F65;
$blue-color: #1168be;


// Fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'popins', sans-serif;