footer{

    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    background-color: $dark-color;
    color: $light-color;
    line-height: 2rem;
    text-align: center;
    font: {
        style: italic;
        size: 1rem;
}


}