

#form {
    width: 17rem;
    height: 17rem;
    background-color: $light-color;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 1px 0px $dark-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    

    .inputDate{

        display: flex;
        flex-direction: row;
        justify-self: center;
        

        #addDate{

            padding-left: 1rem;
            padding-right: 1rem;
            margin-left: 1rem;
        }
    }
   
    
    #name, #date, #addDate, #author{
        border: 0.2rem solid grey;
        // padding: 5px; 
        background-color: lightgrey;
        // margin-left: 1rem;
        line-height: 2rem;
        margin-bottom: 0.5rem;
        //  display: flex;
        // flex-direction: row;
        // align-items: center;
        // justify-content: center;
        // flex-wrap: wrap;

       
    }

 

    #description{

        // margin-top: 5%;
        // margin-left: 1rem;
        // padding-right: 10%;
        border: 0.2rem solid grey;
        // padding: 5px; 
        background-color: lightgrey;
        

    }
  
}

// .form form {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     flex-wrap: wrap;
// }

// .form input, .form button {
//     // margin: 5px;
// }


#event{



.divevents{

    line-height: 2rem;
    background-color: $secondary-color;
    border: 0.2rem solid grey;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;

    .eventName, .eventAuthor{

        display: flex;
    justify-content: center;
    // margin-right: 1rem;

    }

    .eventName{

        font-weight: bold;
        font-size: 2rem;
        text-transform: capitalize;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .eventAuthor{

        font-style: italic;
        font-size: 1.5rem;
        text-transform: capitalize;
        margin-bottom: 1rem;
    }

    .eventDescription{

        // margin-right: 1rem;
        text-align: center;
        font-size: 1rem;
        text-transform: capitalize;
        margin-bottom: 1rem;
    }
}

#eventBody{

    display: flex;
    justify-content: center;
    margin-top: 4rem;
    
    
}


   #attendeeName, #booleanChoice{

   
    // padding: 1rem; 
    // background-color: lightgrey;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    
    
   }

   #attendeeName{

    font-size: medium;
    background-color: $light-color;
    border: 0.2rem solid $secondary-color;

  
    
       

   }
    
}














