
body{

background-color: #007f5f;
font-family: 'Poppins', sans-serif;
}



#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .inputDate{

        display: flex;
        flex-direction: row;
        justify-self: center;
        

        #addDate{

            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
   
    
    #name, #date, #addDate, #author{
        border: 0.2rem solid grey;
        // padding: 5px; 
        background-color: lightgrey;
        margin-left: 1rem;
        line-height: 2rem;
        margin-bottom: 0.5rem;
        //  display: flex;
        // flex-direction: row;
        // align-items: center;
        // justify-content: center;
        // flex-wrap: wrap;

       
    }

    #submitForm{

        margin-right: 3rem;
        margin-left: 3rem;
        margin-top: 1rem;
        border: 0.2rem solid grey;
        // padding: 5px; 
        background-color: lightgrey;


    }

    #description{

        // margin-top: 5%;
        margin-left: 1rem;
        // padding-right: 10%;
        border: 0.2rem solid grey;
        // padding: 5px; 
        background-color: lightgrey;
        

    }
  
}

// .form form {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     flex-wrap: wrap;
// }

// .form input, .form button {
//     // margin: 5px;
// }


#event{

#eventEdit{

   margin-left: 113rem;
   margin-bottom: 2rem ;
   margin-top: 4rem;
}

.divevents{

    display: flex;
    justify-content: center;
    line-height: 2rem;
    background-color: lightgrey;
    border: 0.2rem solid grey;
    margin-bottom: 1rem;

    .eventName{

        margin-right: 1rem;

    }
    .eventAuthor{
      
        margin-right: 1rem;
    }
    .eventDescription{


        margin-right: 1rem;
    }
}

#eventBody{

    display: flex;
    justify-content: center;
    margin-top: 4rem;
    
    
}

#eventFooter{

   #attendeeName, #booleanChoice, #submitFooter{

    border: 0.2rem solid grey;
    // padding: 1rem; 
    background-color: lightgrey;
    margin-left: 1rem;
    

   }
    
}
}













